action-button() {
  display: block;
  padding: 0 17px;
  margin: 0;
  
  border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #48C9B0;
  
  line-height: 2.5;
  color: #fff;
  font-size: 18px;
  text-align: center;
  
  transition: background-color 0.2s ease;
  
  &:hover {
    background-color: darken(#48C9B0, 20%);
  }
}
