/* Lato */
// Thin
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v11/O_zV-zpES8m70ZJ2G0sHzPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v11/sc2OwWccOlBaRUe01_nQz_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("https://fonts.gstatic.com/s/lato/v11/TQq5kuiDwiVMSCt-_TEgbOvvDin1pK8aKteLpeZ5c0A.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/74PeUEgLfOjjvppfiAU5QuvvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}


// Light
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/AgYOQ731ufUQTvv4tet3mqCWcynf_cDxXwCLxiixG1c.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v11/b7fR6XGf1n7URBWwDk4XXqCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("https://fonts.gstatic.com/s/lato/v11/_ZtpK0Io6KXGBI3QakDTIwLUuEpTyoUstqEm5AMlJo4.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/Kyth5s4fi_5bQay2BptY2wLUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}


// Normal
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/2V_mouV5odI0UgtVODTOwvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url("https://fonts.gstatic.com/s/lato/v11/x7Ed4ORAgJBSCB0gu3ZtNfesZW2xOQ-xsNqO47m55DA.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/fEdfRBWMW_9OdyA9V64hfvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}


// Bold
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/Y-oq9SOo56NWVEK0VUtEkqCWcynf_cDxXwCLxiixG1c.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v11/3GThKcDyY-_g3r3hwOm4m6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}


// Ultra-Bold
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v11/o2KJdCQNtpcOZqCR_p9HSqCWcynf_cDxXwCLxiixG1c.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v11/VFHaQxBHeNv0PYVFi5iJaqCWcynf_cDxXwCLxiixG1c.woff) format("woff");
}


/* Candal */
@font-face {
  font-family: "Candal";
  font-style: normal;
  font-weight: 400;
  src: local("Candal"), url("https://fonts.gstatic.com/s/candal/v6/34Ef33Htj807BC6MW3kMD_esZW2xOQ-xsNqO47m55DA.woff2") format("woff2"), url("https://fonts.gstatic.com/s/candal/v6/M2HcJz1CCLGcVu1NLKw8ivesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
